<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="QTFK.Core" version="2.2.0.42306" targetFramework="net452" />
  <package id="QTFK.DB" version="1.6.1.42353" targetFramework="net452" />
  <package id="QTFK.Logs" version="1.6.1.42352" targetFramework="net452" />
  <package id="QTFK.Reflection" version="1.6.1.42352" targetFramework="net452" />
</packages>