<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.11" targetFramework="net452" />
  <package id="QTFK.Core" version="3.4.0" targetFramework="net452" />
  <package id="QTFK.DB" version="1.7.0" targetFramework="net452" />
  <package id="QTFK.DBMigrations" version="1.7.0" targetFramework="net452" />
  <package id="QTFK.Services.DBIO.OleDB" version="1.7.0" targetFramework="net452" />
</packages>